* {
  box-sizing: border-box;
}
html {
  font-size: 62, 5%;
}
/* Khôi phục cỡ chữ mặc định theo rem    */
body {
  font-size: 1, 6rem;
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}
/* ****** common****** */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: rgb(7, 11, 11);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24px;
  background-color: #3716ed;
}
/* ************header*********** */
.header {
  background-color: rgb(234, 112, 232);
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: black;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: blue;
  /* font-weight: 600;  Ảnh hưởng đến text bên cạnh*/
  text-shadow: 1px 0 0 currentColor;
}
/* Dấu gạch chân chứ home */
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  left: 21px;
  bottom: 6px;
  border-radius: 1px;
  background-color: brown;
  position: absolute;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
